@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Zen+Tokyo+Zoo&display=swap');

:root{
  --main-color:#64DB64;
}

body{
  font-family: 'Roboto', sans-serif;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 20px;
}
header{
  font-family: 'Zen Tokyo Zoo', cursive;
  text-align: center;
  font-size: 100px;
  background-color: var(--main-color);
}
main{
  display: flex;
  justify-content: center;
}
input, select{
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
input:focus, select:focus{
  border-color: var(--main-color);
}
input{
  width: 15vw;
  height: 30px;
  font-size: 16px;
}
select{
  height: 30px;
  width: 120px;
  font-size: 16px;
}
button{
  position: relative;
  background-color:var(--main-color);
	border-radius:10px;
	border:1px solid #18ab29;
	display:inline-block;
  font-family: 'Roboto', sans-serif;
	cursor:pointer;
	color:black;
	font-size:17px;
	padding:7px 10px;
	text-decoration:none;
}
button:hover {
	background-color:#5AC55A;
}
button:active {
	position:relative;
	top:2px;
}
.delete{
  background-color: #ff1f1f;
  border: 1px solid #a30000;
}
.delete:hover {
	background-color:#e00000;
}
table{
  border-collapse: collapse;
}
th, td{
  text-transform: capitalize;
  text-align: left;
  padding: 10px 2vw 10px 2vw;
}
tr.border{
  border-bottom: 1px solid black;
}
tr.library-table th{
  padding-top: 40px;
}
.statusBtn{
  text-transform: capitalize;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 600;
  color: #169b26; 
  padding: 0;
}
.statusBtn:hover{
  background-color: transparent;
}